body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 450px;
    font-size: 25px;
    background-color: #154d6b;
}

.form {
    margin: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label {
    margin-bottom: 10px;
}

.form input {
    margin-bottom: 10px;
    height: 32px;
    width: 75%;
    outline: none;
}

.button {
    display: block;
    background: #bbead285;
    color: #0e0202;
    border: none;
    padding: 18px;
    width: 35%;
    cursor: pointer;
}