body {
    margin: 0;
}

.header {
    width: 200px;
    min-height: 100vh;
    background-color: teal;
}

.usuario {
    height: 100px;
    display: inline-flex;
    align-items: center;
}

.usuario img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
}

.usuario span {
    margin-left: 12px;
}

.nav {}

.nav ul {
    margin-top: 8em;
}

.nav ul a {
    text-decoration: none;
    display: block;
    padding: 15px;
}