body {
    margin: 0;
    min-width: 100vh;
}

.header {
    background: teal;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.usuario {
    display: flex;
    align-items: center;
    margin-right: 7rem;
    font-family: cursive;
    font-size: 24px;
}

.usuario img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

.nav ul {
    list-style-type: none;
    display: inline-flex;
}

.nav ul a {
    color: white;
    font-size: 24px;
    font-family: cursive;
    text-decoration: none;
    margin-right: 20px;
}

.section {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.album {
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.album img {
    width: 250px;
    height: 250px;
}